.hero__box {
display: flex;
gap: 1rem;
flex-direction: column;
text-align: center;


}


.hero__title {

color: var(--clr--green900);
font-weight: 700;
font-family: var(--font--primary);
font-size: var(--size--4xl);
text-align: center;


}

.hero__description {
margin: 1rem 0;
color: var(--clr--green900);
font-size: var(--size--base);
margin-inline: auto;
}

.hero__letters {
font-weight: 900;
font-size: var(--size--4xl);
color: var(--clr--green);
text-transform: uppercase;
}

.btn__box {

display: flex;

}

.hero__btn {
margin-inline: auto;
margin-top: 1rem;
font-family: var(--font--secondary);
font-size: var(--size--sm);
text-decoration: none;
font-weight: 700;
transition: color 0.4s;
color: var(--clr--back);
background-color: var(--clr--slate400);
border-radius: 10px;
border: solid 1px var(--clr--green900);
line-height: 1.75rem;
text-decoration: none;
padding: 0.25rem 0.5rem;
text-align: unset;
box-shadow: 5px 5px 10px var(--clr--green900);

}

.hero__btn:hover {
color: var(--clr--green900);

}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {

.hero__title {
font-size: var(--size--5xl);

}
.hero__letters {
font-size: var(--size--6xl);

}
.hero__description {
font-size: var(--size--lg);

}
.hero__btn {

font-size: var(--size--base);
}
}

/* md */
/* @media (min-width: 768px) {}  */

/* lg */
@media (min-width: 1024px) {

.hero__title {
font-size: var(--size--6xl);
}
.hero__letters {
 font-size: var(--size--7xl);
}

.hero__description {
font-size: (--size--xl);
}

.hero__btn {
font-size: var(--size--lg);

}



}

/* xl */
/* @media (min-width: 1280px) {}  */

/* 2xl */
/* @media (min-width: 1536px) {}  */
